/* * {
  border: 1px solid red;
} */
.body {
  margin:0;
  padding: 0;
  display: flex;
}
.carousel {
  flex : 1;
  display: flex;

}
.form {
  flex : 1;
  display : flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bighello {
  font-size: 5rem;
  text-align: left;
  margin: auto;
  font-weight: 900;
  line-height: 5rem;
}
.bighello span:nth-child(even){
  color :rgb(255, 204, 0);
  font-size : 6rem
}
.bighello span {
  display: block;
}
.form form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 80%;
}
.form input {
  margin : 5px 0;
  box-sizing: border-box;
  width: 100%;
  padding : 0 10px 0 10px;
  height: 40px;
  font-size: 0.9rem;
  border-radius: 8px;
  background-color: #f3f3f4;
  border: 0px solid rgb(255, 204, 0);
  outline: 0px solid rgb(255, 204, 0);
  transition: all 100ms ease-in;
  color : #6e6d7a;
}
.form input:focus-visible , .input input:hover, .input input:focus {
  border: 1px solid rgb(255, 204, 0);
  background-color: white;
  outline: 3px solid rgba(255, 204, 0, 0.3);
}
.form label {
  display: block;
}
.errormessage {
  font-size: 0.8rem;
  width: 80%;
  text-align: left;
  color: rgb(223, 71, 0)
}
.form button {
  margin-top: 20px;
  width: 80%;
  color: white;
  height: 40px;
  font-size: 0.9rem;
  padding : 0 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 204, 0);
}
button:disabled {
  background-color: rgb(255, 222, 91);
}
a {
  color: rgb(255, 204, 0);
}